{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th class="text-start">Name</th>
                <th>Total value</th>
                <th>Today's price</th>
                <th>All time return</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
        <!-- Loop through the DB to display stocks in this table -->
            {% for stock in stocks %}
                <tr>
                    <form id="form-{{ stock.symbol }}" method="POST">
                        <td class="text-start">
                            <b>{{ stock.symbol }}</b>
                            <p>{{ stock.symbol_name }}</p>
                        </td>
                        <td>
                            <b>{{ stock.total }}</b>
                            <p>{{ stock.sum }} shares</p>
                        </td>
                        <td>
                            {{ stock.price }}
                        </td>
                        <td></td>
                        
                        <td style="text-align: center;">
                            <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                            <div class="m-1">
                                <input class="form-control mx-auto w-75" name="shares" placeholder="Shares" type="number" min="1" id="shares-{{ stock.symbol }}">
                            </div>
                            <div class="btn-group" role="group" aria-label="Buy/Sell">
                                <button type="button" class="btn btn-success" onclick="setAction('{{ stock.symbol }}', 'buy')">Buy</button>
                                <button type="button" class="btn btn-danger" onclick="setAction('{{ stock.symbol }}', 'sell')">Sell</button>
                            </div>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            <tr class="table-primary">
                <td class="text-start">
                    <b>CASH</b>
                </td>
                <td>
                    <b>{{ cash }}</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            <tr class="table-success">                
                <td class="text-start">
                    <b>TOTAL</b>
                </td>
                <td>
                    <b>{{ total }}</b>
                </td>
                <td></td>
                <td></td>
                <td></td>                
            </tr>
        </tbody>
    </table>

    <!--Buy/Sell stocks available in portfolio script-->
    <script src="/static/index.js"></script>
{% endblock %}

