{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>                
            </tr>
        </thead>
        <tbody>
        <!-- Loop through the DB to display stocks in this table -->
            {% for stock in stocks %}
                <tr>
                    <td style="text-align: left;">
                        {{ stock.symbol }}
                    </td>
                    <td>
                        {{ stock.symbol_name }}
                    </td>
                    <td>
                        {{ stock.sum }}
                    </td>
                    <td>
                        {{ stock.price }}
                    </td>
                    <td>
                        {{ stock.total }}
                    </td>
                    <td style="text-align: center;">
                        <input type="hidden" name="symbol" id="symbol" value="{{ stock.symbol }}">
                        <div class="m-1">
                            <input class="form-control mx-auto w-auto" name="shares" placeholder="Amount of shares" type="number" min="1">
                        </div>
                        <div class="btn-group" role="group" aria-label="Buy/Sell">
                            <button type="button" class="btn btn-success" onclick="setAction('buy')">Buy</button>
                            <button type="button" class="btn btn-danger" onclick="setAction('sell')">Sell</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr class="table-primary">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <b>CASH</b>
                </td>
                <td>
                    {{ cash }}
                </td>
            </tr>
            <tr class="table-success">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <b>TOTAL</b>
                </td>
                <td>
                    {{ total }}
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}
