{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h3>
            <b>{{ stock_data.symbol }}</b> ({{ stock_data.name }})
        </h3>
        <h4>{{ stock_data.price }}</h4>
        <p>As of {{ stock_data.current_time }} <a href="#" onclick="refreshQuote('{{ symbol }}'); return false;">Update</a></p> 
        Currently Market is: <b>{{ stock_data.market }}</b>
    </div>

    <h4>Market details</h4>

    <div class="container d-flex flex-row">        
        <div class="container-sm pt-3">
            <table class="table table-hover">          
                <tbody>
                    <tr>
                        <th class="text-start">
                            Previous Close
                        </th>
                        <td>
                            {{ stock_data.previous_close }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Open
                        </th>
                        <td>
                            {{ stock_data.open_price }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Bid
                        </th>
                        <td>
                            {{ stock_data.bid_price }} x {{ stock_data.bid_size }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Ask
                        </th>
                        <td>
                            {{ stock_data.ask_price }} x {{ stock_data.ask_size }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Day High
                        </th>
                        <td>
                            {{ stock_data.day_high }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Day Low
                        </th>
                        <td>
                            {{ stock_data.day_low }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Currency
                        </th>
                        <td>
                            {{ stock_data.currency }}
                        </td>
                    </tr>                     
                </tbody>
            </table>
        </div>

        <div class="container-sm pt-3">
            <table class="table table-hover">          
                <tbody>
                    <tr>
                        <th class="text-start">
                            Market Cap
                        </th>
                        <td>
                            {{ stock_data.market_cap }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            P/E Ratio
                        </th>
                        <td>
                            {{ stock_data.pe }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            52-week High
                        </th>
                        <td>
                            {{ stock_data.fifty_two_week_high }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            52-week Low
                        </th>
                        <td>
                            {{ stock_data.fifty_two_week_low }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Volume
                        </th>
                        <td>
                            {{ stock_data.volume }}
                        </td>
                    </tr>
                    <tr>
                        <th class="text-start">
                            Average Volume
                        </th>
                        <td>
                            {{ stock_data.average_volume }}
                        </td>
                    </tr>    
                    <tr>
                        <th class="text-start">
                            Yield
                        </th>
                        <td>
                            {{ stock_data.dividend_yield }}
                        </td>
                    </tr>                
                </tbody>
            </table>
        </div>
            
    </div>

    <script>
        <!-- Create refreshQuote function that creates AJAX request to server to get updated stock data -->
        function refreshQuote(symbol) {
            fetch('/quote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify({ symbol: symbol })
            })
            .then(response => response.json())
            .then(data => {
                // Update the page content with the new data
                document.getElementById('price').textContent = data.price;
                document.getElementById('previous-close').textContent = data.previous_close;
                // Update other elements similarly
            })
            .catch(error => {
                console.error('Error refreshing quote:', error);
            });
        }
    </script>

{% endblock %}
